In [ ]:
#Day3 Assighnmet 1

In [ ]:
al=int(input("Enter the altitude you are in:"))
 
 
if al <= 1000 :
    print("It is safe to land")
elif al <= 5000 :
    print("Come down to altitude 1000ft")
else:
    print("Turn around and try again")

Enter the altitude you are in:1000
It is safe to land

In [ ]:
#day 3 assignhment 2

In [ ]:
print("Prime numbers between 1 to 200 are:")
 
for i in range(2,200):
     for j in range(2,i):
         if(i%j==0):
             break
        
     else:
              print(i)

Prime numbers between 1 to 200 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199